[include]
  	# For credentials and other private configs
  	path = ~/.gitconfig_local
[alias]
	undo = reset --soft HEAD^
	resign = rebase --exec 'git commit --amend --no-edit -n -S' -i
[commit]
	gpgSign = true
[core]
	editor = nano
  	excludesfile = ~/.gitignore_global
